/* Navbar container */

.wrapper{
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */

    max-width: 960px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
    width:auto;
    height:auto;
    display: flex;
    flex-wrap: wrap;

}
.card{
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 400px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
}
.card img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    height: 100%;
}
.descriptions{
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(255,255,255,.7);
    width:100%;
    height:100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions{
    left:0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}
.card:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(.97);
}
.card:hover img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}
.card h1{
    color: red;
    letter-spacing: 1px;
    margin: 0px;
}
.card p{
    line-height: 24px;
    height: 60%;
    margin-left: 0px;
}
.card button{
    width: fit-content;
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: red;
    color:#fff;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
    transition: all .5s ease-in-out;
    margin: 5px;

}
.card button:hover{
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}

.card .bttn{
    display: flex;
    flex-flow: row;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: 'Syne Mono', monospace;
}

/* Links inside the navbar */
.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    left:auto;
    right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    font-family: sans-serif;

}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.mainTitle{
    font-family: 'Syne Mono', monospace;
    text-align: center;
}

.largeButton{
    font-family: 'Syne Mono', monospace;
    width: 500px;
    height: 75px;
    font-size: 25px;
    margin: auto;
    display: block;
    text-decoration: none;
}

.centerBanner{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    margin-left: 50px;
    font-family: sans-serif;
}

h1{
    margin-left: 50px;
    font-family: sans-serif;
}

.score{
    margin-left: 75px;
    font-family: sans-serif;
}

h3{
    margin-left: 50px;
    font-family: sans-serif;
}

.testQ{
    margin-left: 100px;
    font-family: sans-serif;
    font-weight: bold;
}

.testCorrect{
    margin-left: 100px;
    font-family: sans-serif;
    font-weight: bold;
}

.testCorrect label{
    background-color: chartreuse;
}

.testWrong{
    margin-left: 100px;
    font-family: sans-serif;
    font-weight: bold;
}

.testWrong label{
    background-color: #f56868;
}

.navigationButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    color: #404040;
}

.login {
    position: relative;
    margin: 30px auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.login:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.login h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}

.login p {
    margin: 20px 0 0;
}

.login p:first-child {
    margin-top: 0;
}

.login input[type=text], .login input[type=password] {
    width: 278px;
}

.login p.submit {
    text-align: right;
}

.contenido{
    position: relative;
    margin: 30px auto;
    padding: 20px 20px 20px;
    width: 900px;
    background: #b4b4b4;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.contenido h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}

.contenido iframe{
    display: flex;
    justify-content: center;
    width: 875px;
    height: 492px;
}

.submitbtn{
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.userData{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

.userData td{
    padding: 8px;
}

.userData tr:nth-child(even){
    background-color: #f2f2f2;
}

.userData tr:hover {
    background-color: #ddd;
}

.userData td:first-child{
    background-color: red;
    color: white;
}

.itemList{
    margin-left: 50px;
    font-family: 'Syne Mono', monospace;
    font-size: large;
}